<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/img-1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href=""><img src="./assets/img/mashud_photo.png" alt="..."></a>
            </div>
        </div>
        <div class="motto text-center">
            <h1>MASHUD KARIM</h1>
            <h3>I'M A WEB DEVELOPER & PROGRAMMER LIVING IN DHAKA, BANGLADESH. I MAKE WEB APPLICATIONS, USUALLY WITH <b style="color:chartreuse">ANGULAR & JAVA</b></h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round">Resume Download</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">About Me</h2>
                <h5 class="description">For the past 7 years, I've been developing applications for the web using mostly Angular & Java. I do this for a living and love what I do as every day there is something new and exciting to learn.

                    In my spare time, the web development community is a big part of my life. Whether teaching code to kids at a local school, managing online programming groups and blogs or attending a conference, I find keeping involved helps me stay up to date.</h5>
                <br>
                <a (click)="goToAbout()" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Problem Solving</h4>
                        <p class="description">I can take vague problems and requirements and break them down into steps and solutions.</p>
                        <a href="" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Systems Thinking</h4>
                        <p>I'm good at thinking abstractly and putting together systems with many moving parts.</p>
                        <a href="" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Communicating</h4>
                        <p>I can explain things clearly, communicate problems quickly and write accurately and concisely.</p>
                        <a href="" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Organising</h4>
                        <p>I can self-manage, work to deadlines, organise projects and present well-structured and complete deliverables.</p>
                        <a href="" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Specialization</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar-special">
                        <a href=""><img src="./assets/img/frontend.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title">Front-end Developer</h4>
                                <h6 class="card-category">HTML, CSS, Sass, Less</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            VS Code, Atom, Bitbucket, Bootstrap, Codepen, Github, Gitlab, Terminal
                        </p>
                    </div>
                    <div class="card-footer text-center">
                            <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-gitlab"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/angular-logo.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title">Web Developmet</h4>
                                <h6 class="card-category">Angular, React, Vue</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        VS Code, Atom, Angular Material, Bootstrap, Codepen, Github, Gitlab, Terminal
                        </p>
                    </div>
                    <div class="card-footer text-center">
                            <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-gitlab"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar-special">
                        <a href=""><img src="./assets/img/java-2.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title">Back-end Development</h4>
                                <h6 class="card-category">Java, Python</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Eclipse, IntelliJ IDEA, PyCharm, Tomcat, Nginx, Redis, PostgreSQL
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-gitlab"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
