<div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/img-2.jpeg');">
        <div class="filter"></div>
        </div>
        <div class="section profile-content">
            <div class="container">
                    <p>For the past 7 years, I've been developing applications for the web using mostly Angular & Java.
                        I do this for a living and love what I do as every day there is something new and exciting to learn.</p>

                    <p>In my spare time, the web development community is a big part of my life.
                        Whether teaching code to kids at a local school, managing online programming groups and blogs or attending a conference,
                        I find keeping involved helps me stay up to date.</p>
                    
                    <p>This is also my chance to give back to the community that helped me get started,
                        a place I am proud to be part of.</p>
                    
                    <p>Besides programming I love spending time with friends and family and can often be found together going out catching the latest movie,
                        staying in playing games on the sofa or planning a trip to someplace I've never been before.</p>
                    
                    <p>I have completed programming diploma from Daffodil institute of IT.
                         When not at work I'm usually working on a new project from home which could be anything to updating one of my sites to creating a new CRM application.
                         Since leaving university I've been lucky enough to work for The One Point.</p>
                    
                    <p>My job involves doing what I love, Developing new websites/applications, customer relationship management (CRM) applications and developing fantastic financial applications.</p>
                    
                    <p>I spend a lot of time learning new techniques and actively help other people learn web development through a variety of help groups and writing web development tutorials for my website and blog about advancements in web design and development.</p>
            </div>
        </div>
    </div>


